@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  max-width: 1104px;
  width: 100%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include mix.mobile {
    margin: 40px auto;
    width: 90%;
  }
}

.projectItem {
  display: flex;
  gap: 40px;
  align-items: center;

  @include mix.mobile {
    flex-direction: column;
    gap: 20px;
  }
}

.projectImage {
  flex: 1;
  overflow: hidden;

  @include mix.mobile {
    width: 100%;
  }
}

.itemDescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mix.mobile {
    width: 100%;
  }
  
  h2 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #121212;

    @include mix.mobile {
      font-size: 26px;
    }
  }
  
  .year {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 10%;
    color: #666;
  }
}

.projectButton {
  max-width: 181px;
  height: 42px;
  padding: 12px;
  @include mix.primary-button;
  @include mix.flex-center;
  gap: vars.$spacing-sm;
  text-align: left;
  text-decoration: none;
}

.buttonIcon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  transform: scale(1, -1);
}
