@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;
@use "sass:color";

.aboutSection {
  max-height: 888px;
  width: 100%;
  background-color: vars.$white;
  position: relative;
  overflow: hidden;
  
  @include mix.mobile {
    max-height: none;
    overflow: visible;
  }
}

.contentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  @include mix.content-container;
  display: flex;
  justify-content: space-between;
  padding: 128px 0;
  
  @include mix.mobile {
    flex-direction: column;
    padding: 40px 0 0 0;
  }
}

.textContent {
  width: 48%;
  padding-right: vars.$spacing-xxl;
  @include mix.flex-column;
  
  @include mix.mobile {
    width: 100%;
    padding-right: 0;
    margin-bottom: vars.$spacing-xxl;
  }
  
  .logo {
    margin-bottom: vars.$spacing-lg;
  }
  
  h2 {
    @include mix.section-heading;
    margin-bottom: vars.$spacing-lg;
  }
  
  p {
    max-width: 464px;
    @include mix.section-paragraph;
    margin-bottom: vars.$spacing-xxl;
  }
}

.statsContainer {
  display: flex;
  gap: vars.$spacing-xxl;
  margin-bottom: vars.$spacing-xxl;
}

.statItem {
  @include mix.flex-column;
  width: 137px;
  gap: vars.$spacing-xs;
  
  .statNumber {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    font-size: vars.$font-size-huge;
    line-height: 100%;
    letter-spacing: 0%;
    color: vars.$primary-color;
    margin-bottom: vars.$spacing-sm;
  }
  
  .statLabel {
    font-family: var(--font-geist-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: vars.$text-light;

    @include mix.mobile {
      font-size: 12px;
    }
  }
}

.aboutButton {
  width: 144px;
  height: 42px;
  padding: 12px;
  @include mix.primary-button;
  @include mix.flex-center;
  gap: vars.$spacing-sm;
  text-align: left;
  text-decoration: none;
}

.buttonIcon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  transform: scale(1, -1);
}

.imageContainer {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 638px;
  
  @include mix.mobile {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    width: 100vw;
    height: 227px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: vars.$spacing-xl;
    order: 3;
  }
}

.aboutImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: right;
  
  @include mix.mobile {
    object-position: center;
    height: 227px;
  }
}

.brandContainer {
  display: flex;
  align-items: center;
  gap: vars.$spacing-sm;
  margin-bottom: vars.$spacing-lg;

  @include mix.mobile {
    margin-bottom: 0;
    height: 25px;
  }
}

.brandText {
  @include mix.brand-text;
}

.brandLine {
  display: block;
  width: 75px;
  height: 75px;
  margin-left: 10px;
} 